.technologies {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8502859762068891) 0%, rgb(3, 1, 9) 21%, rgba(60,44,106,0.438521270324536) 80%);
    background-image: url(/public/avatar2.webp);
    background-size: cover;
    background-position: center;
    opacity: 80%;
  }
  
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .technologies__title {
    display: flex;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 8px;
    padding: 8px 0px;
    justify-content: space-around;
    
    
  }

  @media (max-width:768px) { 
    .technologies__title {
      margin-top: -3px;

      
    }
  }
  
  .technologies__list {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  .technologies__item:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }
  .technologies__item {
    font-size: 18px;
    padding: 9px;

    border-radius: 8px;
    background-color: #2f2f2f;
    margin-bottom: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -2px -2px 6px rgba(3, 3, 3, 0.5);
  }
  
  .technologies {
    padding: 20px;
    border-radius: 10px;
  }
  
  .technologies__title {
    font-size: 30px;
    color: #b8b8b8;
    text-shadow:0 3px #290d399b;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .technologies__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .technologies__item {
    gap: 20px;
  }
  
  .technology {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 0 auto;
    margin-top: 5px;
  }
  
  .technology__name {
    flex-grow: 1;
    color: #363636;
    margin: 2px 20px;
    
  }
.icon {
  width: 40px;
  height: 700px;
  color: #fff;
  
}
  
  .technology__progress {
    width: 150px;
    height: 20px;
    background-color: #aaaaaa;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .technology__water {
    background-color: #4caf50; /* Color de la barra de progreso */
    height: 10px; /* Altura de la barra de progreso */
    width: 0; /* Ancho inicial de la barra de progreso */
  }
  
  .animate-progress {
    animation: progressAnimation 1s ease-in-out forwards; /* Animación de 1 segundo */
  }
  
  @keyframes progressAnimation {
    from {
      width: 0; /* Ancho inicial */
    }
    to {
      width: 100%; /* Ancho final (100%) */
    }
  }
  
  /* Estilos adicionales para cada barra de progreso */
  .technology__water.html {
    background-color: #a6a6a6;
  }
  
  .technology__water.css {
    background-color: #969696;
  }
  
  .technology__water.sass {
    background-color: #9e9e9e;
  }
  
  .technology__water.javascript {
    background-color: #ababab;
  }
  
  .technology__water.react {
    background-color: #bcbcbc;
  }
  

  .technology__water {
    background-color: #8f8f8f; /* Color de la barra de progreso */
    height: 100%; /* Altura de la barra de progreso */
    width: 100%; /* Ancho inicial de la barra de progreso */
    position: relative;
  }
  
  .progress-bar {
    background-color: #8321f3; /* Color de la barra de progreso */
    height: 100%; /* Altura de la barra de progreso */
    width: 0; /* Ancho inicial de la barra de progreso */
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s ease-in-out; /* Animación de 1 segundo */
  }
  